# 1 IMPORTS

In [1]:
# Autoreload to see the changes in the Python proj files: https://stackoverflow.com/questions/5364050/reloading-submodules-in-ipython
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import sys
import os

In [3]:
# There is a problem with import in Jupiter notebook vs. the standard Python proj 
# https://stackoverflow.com/questions/4383571/importing-files-from-different-folder
# https://github.com/microsoft/vscode-jupyter/issues/3605
sys.path.append('/root/PythonInvest-basic-fin-analysis/mlops_stocks_day_trading/')

os.chdir ('/root/PythonInvest-basic-fin-analysis/mlops_stocks_day_trading/')
!pwd

/root/PythonInvest-basic-fin-analysis/mlops_stocks_day_trading

In [4]:
import load_data
repo = load_data.DataRepository()
repo

['tickers.db']

In [7]:
repo.fetch_ticker_incremental(ticker='GOOG', period_days=7)

[*********************100%***********************]  1 of 1 completed
downloaded records (4, 7) with min_date 2022-04-11 00:00:00 and max_date 2022-04-14 00:00:00
Successfully fetched GOOG for more 7

/root/PythonInvest-basic-fin-analysis/mlops_stocks_day_trading/load_data.py:123: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  self.tickers_df = self.tickers_df.append(incremental_df, ignore_index=True)

In [8]:
repo.tickers_df

,Date,Ticker,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,GOOG,87.876999,88.032501,85.392502,86.412003,86.412003,38038000
1,2021-01-05,GOOG,86.250000,87.383499,85.900749,87.045998,87.045998,22906000
2,2021-01-06,GOOG,85.131500,87.400002,84.949997,86.764503,86.764503,52042000
3,2021-01-07,GOOG,87.002998,89.419998,86.852501,89.362503,89.362503,45300000
4,2021-01-08,GOOG,89.399002,90.491997,88.676750,90.360497,90.360497,41012000
...,...,...,...,...,...,...,...,...
319,2022-04-08,GOOG,136.250000,136.250000,133.752502,134.010498,134.010498,16434000
320,2022-04-11,GOOG,132.899994,132.939194,129.617493,129.796494,129.796494,24188000
321,2022-04-12,GOOG,132.423492,132.423492,127.575996,128.374496,128.374496,23004000
322,2022-04-13,GOOG,128.626495,130.655746,128.438599,130.285995,130.285995,19542000
323,2022-04-14,GOOG,130.649506,130.710251,127.111504,127.252998,127.252998,23484000

In [7]:
import datetime
max_data_date = datetime.datetime.strptime("2021-01-01","%Y-%m-%d")

period_days=30
start_date = max_data_date + datetime.timedelta(days=1)
end_date = max_data_date + datetime.timedelta(days=1+period_days)  

print(f'Period is {start_date} to {end_date}')

Period is 2021-01-02 00:00:00 to 2021-02-01 00:00:00

In [15]:
import yfinance as yf
ticker='GOOG'
incremental_df = yf.download(ticker, start=start_date, end=end_date)

[*********************100%***********************]  1 of 1 completed

In [17]:
incremental_df['Ticker'] = ticker

In [ ]:
ticker='GOOG'
yticker = yf.Ticker(ticker)

historyPrices = retry(lambda: yticker.history(period='max'))

In [ ]:
historyPrices

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2004-08-19,2.490664,2.591785,2.390042,2.499133,897427216,0,0.0
2004-08-20,2.515820,2.716817,2.503118,2.697639,458857488,0,0.0
2004-08-23,2.758411,2.826406,2.716070,2.724787,366857939,0,0.0
2004-08-24,2.770615,2.779581,2.579581,2.611960,306396159,0,0.0
2004-08-25,2.614201,2.689918,2.587302,2.640104,184645512,0,0.0
...,...,...,...,...,...,...,...
2022-08-23,114.320000,115.930000,114.300003,114.769997,14390700,0,0.0
2022-08-24,114.449997,115.717003,113.779999,114.699997,16051200,0,0.0
2022-08-25,115.150002,117.779999,115.050003,117.699997,14874700,0,0.0
2022-08-26,115.809998,116.599998,111.220001,111.300003,31664800,0,0.0
2022-08-29,110.779999,111.943298,109.809998,110.669998,11997707,0,0.0

In [ ]:
data = yf.download("GOOG", start="2021-01-01", end="2022-02-01")
data

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04,87.876999,88.032501,85.392502,86.412003,86.412003,38038000
2021-01-05,86.250000,87.383499,85.900749,87.045998,87.045998,22906000
2021-01-06,85.131500,87.400002,84.949997,86.764503,86.764503,52042000
2021-01-07,87.002998,89.419998,86.852501,89.362503,89.362503,45300000
2021-01-08,89.399002,90.491997,88.676750,90.360497,90.360497,41012000
...,...,...,...,...,...,...
2022-01-25,128.435501,129.338501,126.377998,126.735497,126.735497,36008000
2022-01-26,130.592499,132.807495,127.153503,129.240005,129.240005,39630000
2022-01-27,131.360992,132.609955,128.945007,129.121002,129.121002,30248000
2022-01-28,130.000000,133.370499,128.694504,133.289505,133.289505,30518000
2022-01-31,134.197998,135.843506,132.274002,135.698502,135.698502,34056000

In [ ]:
data['ticker'] = 'GOOG'

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 272 entries, 2021-01-04 to 2022-01-31
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       272 non-null    float64
 1   High       272 non-null    float64
 2   Low        272 non-null    float64
 3   Close      272 non-null    float64
 4   Adj Close  272 non-null    float64
 5   Volume     272 non-null    int64
 6   ticker     272 non-null    object
dtypes: float64(5), int64(1), object(1)
memory usage: 17.0+ KB

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html
data.to_sql(name='tickers', 
            index=True,
            # index_label='',
            if_exists='append',
            con=conn)

272

In [12]:
import sqlite3

#Connecting to sqlite db
conn = sqlite3.connect("data/tickers.db")
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

In [20]:
# List of all tables
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())

cursor.execute("SELECT name FROM sqlite_master WHERE type = 'index';")
print(cursor.fetchall())

# Table schema
cursor.execute("SELECT sql FROM sqlite_master WHERE name=?;",['tickers'])
rez = cursor.fetchall()[0][0]
print(rez)

# cursor.execute('DROP TABLE tickers')

[('tickers',)]
[('sqlite_autoindex_tickers_1',)]
CREATE TABLE "tickers" (
                "Date" TIMESTAMP,
                "Ticker" TEXT,
                "Open" REAL,
                "High" REAL,
                "Low" REAL,
                "Close" REAL,
                "Adj Close" REAL,
                "Volume" INTEGER,
                PRIMARY KEY (Date, Ticker)
                )

In [ ]:
# # https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html
# historyPrices[historyPrices.index<='2022-01-01'].to_sql(name='tickers', 
#                                                         index=True,
#                                                         # index_label='',
#                                                         if_exists='append',
#                                                         con=conn)

4374

In [13]:
p2= pd.read_sql('select * from tickers', conn)
p2

,Date,Ticker,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04 00:00:00,GOOG,87.876999,88.032501,85.392502,86.412003,86.412003,38038000
1,2021-01-05 00:00:00,GOOG,86.250000,87.383499,85.900749,87.045998,87.045998,22906000
2,2021-01-06 00:00:00,GOOG,85.131500,87.400002,84.949997,86.764503,86.764503,52042000
3,2021-01-07 00:00:00,GOOG,87.002998,89.419998,86.852501,89.362503,89.362503,45300000
4,2021-01-08 00:00:00,GOOG,89.399002,90.491997,88.676750,90.360497,90.360497,41012000
...,...,...,...,...,...,...,...,...
290,2022-02-28 00:00:00,GOOG,133.284500,135.640503,132.825256,134.891006,134.891006,29676000
291,2022-03-01 00:00:00,GOOG,134.479996,136.110992,133.378494,134.167999,134.167999,24640000
292,2022-03-02 00:00:00,GOOG,134.608246,135.615494,133.432495,134.751495,134.751495,23966000
293,2022-03-03 00:00:00,GOOG,135.978500,136.713806,133.431000,134.307999,134.307999,19780000
294,2022-03-04 00:00:00,GOOG,133.382507,134.199005,130.408493,132.121994,132.121994,24446000

In [ ]:
p2['Date'] = pd.to_datetime(p2['Date'])

In [ ]:
conn.close()