# 1 IMPORTS

In [35]:
# Autoreload to see the changes in the Python proj files: https://stackoverflow.com/questions/5364050/reloading-submodules-in-ipython
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [36]:
import pandas as pd
import numpy as np
import sys
import os

In [37]:
# There is a problem with import in Jupiter notebook vs. the standard Python proj 
# https://stackoverflow.com/questions/4383571/importing-files-from-different-folder
# https://github.com/microsoft/vscode-jupyter/issues/3605
sys.path.append('/home/realmistic/PythonInvest-basic-fin-analysis/mlops_stocks_day_trading/')

os.chdir ('//home/realmistic/PythonInvest-basic-fin-analysis/mlops_stocks_day_trading/')
!pwd

/home/realmistic/PythonInvest-basic-fin-analysis/mlops_stocks_day_trading

# 2) TEST

In [38]:
from dotenv import load_dotenv
import os

In [39]:
# get env vars for the DB connection
load_dotenv()

True

In [40]:
# print(os.environ.get('mysql_user'))
# print(os.environ.get('mysql_pwd'))
# print(os.environ.get('mysql_db'))

In [41]:
import MySQLdb

user = os.environ.get('mysql_user')
pwd = os.environ.get('mysql_pwd')
db = os.environ.get('mysql_db')

try:
    db_connection = MySQLdb.connect("127.0.0.1", user, pwd, db)
    # If connection is not successful
except:
    print("Can't connect to database")
    # If Connection Is Successful
print("Connected")

Connected

In [42]:
# TRY EXECUTE SOME SQL_STATEMENTS

cursor = db_connection.cursor()
# cursor.execute("SELECT CURDATE();")
cursor.execute("SELECT VERSION()")
# cursor.execute("DESC top90;")
# cursor.execute("SHOW INDEXES stocks.top90;")
result = cursor.fetchall()
cursor.close()

print(result)

(('8.0.30-0ubuntu0.22.04.1',),)

In [43]:
# Another way via sqlalchemy

from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [44]:
sqlEngine  = create_engine(f'mysql+pymysql://{user}:{pwd}@localhost/{db}',
                           connect_args= dict(host='localhost', port=3306))

In [45]:
conn = sqlEngine.connect()

In [46]:
conn.execute("SELECT VERSION()").fetchall()

[('8.0.30-0ubuntu0.22.04.1',)]

In [47]:
conn.execute("DESC top90;").fetchall()
# conn.execute("SHOW FULL COLUMNS FROM top90;").fetchall()

[('Date', 'datetime', 'YES', 'MUL', None, ''),
 ('Open', 'double', 'YES', '', None, ''),
 ('High', 'double', 'YES', '', None, ''),
 ('Low', 'double', 'YES', '', None, ''),
 ('Close', 'double', 'YES', '', None, ''),
 ('Adj Close', 'double', 'YES', '', None, ''),
 ('Volume', 'bigint', 'YES', '', None, '')]

In [48]:
tableName = 'top90'
try:
    frame = data.to_sql(tableName, conn, if_exists='fail');
except ValueError as vx:
    print(vx)
except Exception as ex:   
    print(ex)
else:
    print("Table %s created successfully."%tableName);

name 'data' is not defined

In [49]:
conn.execute("DESC top90").fetchall()

[('Date', 'datetime', 'YES', 'MUL', None, ''),
 ('Open', 'double', 'YES', '', None, ''),
 ('High', 'double', 'YES', '', None, ''),
 ('Low', 'double', 'YES', '', None, ''),
 ('Close', 'double', 'YES', '', None, ''),
 ('Adj Close', 'double', 'YES', '', None, ''),
 ('Volume', 'bigint', 'YES', '', None, '')]

In [50]:
conn.execute("SELECT * FROM top90 limit 10").fetchall()

[(datetime.datetime(2021, 1, 4, 0, 0), 87.87699890136719, 88.03250122070312, 85.39250183105469, 86.41200256347656, 86.41200256347656, 38038000),
 (datetime.datetime(2021, 1, 5, 0, 0), 86.25, 87.38349914550781, 85.90074920654297, 87.0459976196289, 87.0459976196289, 22906000),
 (datetime.datetime(2021, 1, 6, 0, 0), 85.13150024414062, 87.4000015258789, 84.94999694824219, 86.7645034790039, 86.7645034790039, 52042000),
 (datetime.datetime(2021, 1, 7, 0, 0), 87.00299835205078, 89.41999816894531, 86.85250091552734, 89.36250305175781, 89.36250305175781, 45300000),
 (datetime.datetime(2021, 1, 8, 0, 0), 89.39900207519531, 90.49199676513672, 88.67675018310547, 90.3604965209961, 90.3604965209961, 41012000),
 (datetime.datetime(2021, 1, 11, 0, 0), 89.30349731445312, 89.71575164794922, 88.0260009765625, 88.33599853515625, 88.33599853515625, 24194000),
 (datetime.datetime(2021, 1, 12, 0, 0), 87.69599914550781, 88.9020004272461, 86.2655029296875, 87.32749938964844, 87.32749938964844, 27140000),
 (datetime.datetime(2021, 1, 13, 0, 0), 86.92900085449219, 88.25174713134766, 86.90049743652344, 87.72000122070312, 87.72000122070312, 21882000),
 (datetime.datetime(2021, 1, 14, 0, 0), 87.68099975585938, 88.75050354003906, 86.66999816894531, 87.00900268554688, 87.00900268554688, 23590000),
 (datetime.datetime(2021, 1, 15, 0, 0), 86.90950012207031, 87.80000305175781, 86.07749938964844, 86.80950164794922, 86.80950164794922, 26844000)]